/* General Styling------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 0;
}

html {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

html, body {
  height:100%;
  width:100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400; 
}

button, input, select{
  font-family: 'Poppins', sans-serif;
}

img {
  image-rendering: auto;
}

.close:hover, .delete:hover, .more:hover, .artist-tag:hover, button:hover, input[type="submit"], select{
  cursor: pointer;
}

/* header styling -------------------------------------------------*/
header{
  background-color: #3E3E3E;
  width: 100%;
}
header{
  height: 3rem;
}

header img{
  height: 2rem;
  width: auto;
  /* filter: brightness(80%); */
}

#year-genre, #logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#logo{
  padding: 0 2rem;
  gap: 0.8rem;
  height: 100%;
  align-content: center;
  color: #ffffff;
}
/* main & footer styling -------------------------------------------------*/
main, footer {
  background-color: #181818;
  width: 100%;
  height: fit-content;

  overflow-x:hidden;
}

main{
  min-height: 100%;
}

footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;

  font-size: 1rem;
  
}

footer, #artist-msg{
  color: #434343;
}

/* form styling -------------------------------------------------*/
form {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
  font-size: 1rem;
}


.form-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  gap: 0.5rem;
  height: fit-content;
  padding: .5em;
}

.form-row > label, .form-row p, #error-text {
  display: block;
  color: white;
}

.form-row > input,
.form-row > select {
  padding: .5rem;
  flex-grow: 1;
  font-size: 1.1em;
}

#artist-adder{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
}

#artist-adder input{
  width: 100%;
  padding: .5rem;
  font-size: 1.1em;
}

#artist-adder button{
  width: 12rem;
  font-size: 1.1em;
}

#artist-msg{
  width: 100%;
  padding: 0 1rem;
}

#artist-list, #mood-form{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  gap: 1rem;
}

#artist-list{
  padding: 0 1rem;
}

.error{
  color: #c22626 !important;
}

/* modal CSS adapted from https://www.w3schools.com/howto/howto_css_modals.asp -------*/

/* Black overlay appears when modal open*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #181818;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px 40px;
  width: 80%;
  position: relative;
  border-radius: 2rem;
}

.modal-content h2 strong{
  font-size: 1.953rem;
  line-height: 2.441rem;
}

/* The Close Button */
.close {
  color: #c9c9c9;
  position: absolute;
  font-size: 4rem;
  font-weight: normal;
  top: 0em;
  padding: 0 0.5em;
  right: 0em;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/*song list styling -------------------------------------------------*/
[hidden] {
  display: none !important;
}

#songlist{
  width: 100%;
  margin: 2rem 0;
}

/*song card styling -------------------------------------------------*/
.song-card{
  display: flex;
  flex-direction: column;

  width: auto;
  height: fit-content;

  background-color: transparent;

  box-shadow: 0px 20.8857px 16.7085px rgba(0, 0, 0, 0.35);
  border: 0.2rem solid;
  color: #1F1F1F;

  padding: 5px 30px;
  gap: 20px;

  margin: 2rem 4rem;
}

.thumbnail{
  height: 10rem;
  width: auto;
  filter: brightness(80%);
}

.thumbnail:hover{
  filter: brightness(100%);
}

.basic-content, .basic-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basic-content{
  height: 10rem;
  width: 100%;
  flex-direction: column;
}

.basic-info{
  width: 100%;
  height: 100%;
  gap: 20px;
  flex-direction: row;
}



/* "top" layout auto-generated  from https://grid.layoutit.com */

.bottom, .top, .tags{
  /* grid-template-columns: 1fr 1fr; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.tags{
  width: fit-content;
  align-content: center;
  gap: 1em;
  flex-wrap: wrap;
}

.top {
  border-bottom: 0.2rem solid #1F1F1F;
  height: 4.5rem;
}



.delete, .more{
  filter: brightness(40%);
}

.delete:hover, .more:hover{
  filter: brightness(100%);;
}

.delete{
  height: 2rem;
  
  margin: auto 0;
}

.bottom{
  height: 5.5rem;
}

/*Styling the name and artist */
.name-artist{
  font-size: 1.25rem; 
}

.name-artist a, .hidden-info{
  color: #c4c4c4;
  text-decoration: none;
}

.name-artist a img{
  height: 1em;
  width:auto;
  filter: brightness(400%);
  margin-left: 0.25em;
}

.name-artist a:hover{
  text-decoration: underline;
  color: white;
}

.name-artist a:hover img{
  filter: brightness(2000%);
}

.name-artist strong, .modal strong, header, .hidden-info strong{
  color: white;
  font-size: 1.563rem;
  line-height: 2.5rem;
}


/* List View Item: Hidden Info------------- */
.hidden-info{
  font-size: 0.8rem;
  line-height: 1.5rem;
  width: 100%;
  margin: 0 20px;
}

.hidden-info{  
  padding-bottom: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.7fr;
  gap: 2rem 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "mood-area mood-area "
    "date-area year-area";
}

.hidden-info strong{
  line-height: 1.25em;
  font-size: 1.1em;
}


.mood-area { 
  grid-area: mood-area;
  font-size: 1.25rem;
 }


.id-area { grid-area: id-area; }

.date-area { grid-area: date-area; }

.year-area { grid-area: year-area; }

.link-area { grid-area: link-area; }


/* mood tag styling -------------------------------------------------------------------*/
.tag, .artist-tag, .mood-tag{
  width: fit-content;
  height: fit-content;
}

.tag{
  padding: 0.3em 0.8em;
  font-size: 1.1rem;
  line-height: 1.3rem;
  border-radius: 1.1rem/50%;
  margin: 1rem 0;
  font-weight: bold;

}
.summarised .tag{
  background-color: #252525;
  color: #cccccc;
  font-weight: normal;
}

.artist-tag{
  background-color: transparent;
  color: #c22626;
  font-size: 1.25em;
  line-height: 2em;
  border-radius: 1.5rem/50%;
  box-shadow: inset 0px 0px 0px 0.2rem #c22626;
  font-weight: bold;
  filter: brightness(150%) saturate(0%);
  border-radius: 1.1em/50%;
}

.artist-tag:hover{
  filter: none;
}

/* mood tag styles adapted from https://codepen.io/attilahajzer/pen/WbbLpe */

 .mood-tag{
  background-color: #ffffff;
  border: none;
  overflow: hidden;
  float: left;
  border-radius: 1em/50%;
  /* filter: brightness(60%); */
}

.mood-tag label {
    float: left; 
    line-height: 1.9em;
    /* font-size: 1rem; */
    width: fit-content; 
    height: fit-content;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

.mood-tag label span, .artist-tag{
  text-align: center;
  padding: 0 1rem;
  display: block;
}

.mood-tag input {
  position: absolute;
  display: none;
}

.mood-tag label input + span{
  color: #a7a7a7;
}

.mood-tag label input + span:hover{
  color: #686868;
}

.mood-tag label input:checked + span, .tag{
  color: #3E3E3E;
}

/* .mood-tag input:checked + span {

} */

label[for="happy"] input:checked + span, .happy{
  background-color: #9adbf1;
}

label[for="amusing"] input:checked + span, .amusing{
  background-color: #d5a680;
}

label[for="erotic"] input:checked + span, .erotic{
  background-color: #e4b2d3;
}

label[for="annoying"] input:checked + span, .annoying{
  background-color: #dfe0a9;
}

label[for="scary"] input:checked + span, .scary{
  background-color: #dec395;
}

label[for="anxious"] input:checked + span, .anxious{
  background-color: #a4bfbc;
}

label[for="dreamy"] input:checked + span, .dreamy{
  background-color: #b9ecf3;
}

label[for="calm"] input:checked + span, .calm{
  background-color: #dcbdf4;
}

label[for="beautiful"] input:checked + span, .beautiful{
  background-color: #c7f0c1;
}

label[for="energetic"] input:checked + span, .energetic{
  background-color: #df8f8f;
}

label[for="sad"] input:checked + span, .sad{
  background-color: #b8c2e8;
}

label[for="defiant"] input:checked + span, .defiant{
  background-color: #f0b7a8;
}

label[for="triumphant"] input:checked + span, .triumphant{
  background-color: #99d1b1;
}


/* Button Styling ---------------------------------------*/
button, input[type="submit"]{
  padding: 10px 15px;
  background: #38899a;
  margin: auto 0;
  border-radius: 10px;
  border: none;
  font-style: normal;
  font-weight: 400;

  font-size: 1.25rem;
  color: #FFFFFF;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3rem;
  gap: 20px;
}

input[type="submit"]{
  width: 15rem;
  margin: 0 auto;
  font-weight: bold;
  height: 3.5rem;
} 

.more img, #fixed img{
  height: 100%;
  width: fit-content;
  transform: rotate(-0.25turn);
}

#fixed{
  position: fixed;
  /* width: 200px;
  height: 100px; */
  bottom: 0px;
  right: 0px;
  margin: 1rem;
  z-index: 1;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.more{
  display: flex;
  flex-direction: row;
  border: none;
  padding: 10px 0;
  background-color: transparent;
}

.checked img{
  transform: rotate(0turn);
}

/* MOBILE STYLING STARTS HERE-------------------------- */

@media screen and (max-width: 900px){
  .hidden-info{
    font-size: 1.1em;
  }

  .thumbnail{
    height: 5rem;
  }
  
  html, body{
    font-size: 12px;
  }

  .song-card{
    margin: 1rem 2rem;
  }
}